// template/index.html
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        audio{
        min-width: 400px;
        height: auto;
        object-fit: inherit;
    }
    </style>
    <title>Madhur Dhwani</title>
</head>
<body>
    <p>Upload files</p>
    <div class="container">
        <div class="row">
            <h2>Select a file to upload</h2>
            <p>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul>
                            {% for message in messages %}
                                <li>{{message}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endwith %}
            </p>  
            

            {% if filename %}
               
                {% print("in file name tag to display audio") %}
                {% print(url) %}
                <!-- url_for(display_file, filename = filename) -->
                {{ url }}
                <div>
                    <audio src="test_1.mp3" controls preload="auto">audio</audio>
                </div>
            {% endif %}
            
            <form action="/" method="POST" enctype="multipart/form-data">
                <p>
                    <input type="file" name="file" id="" autocomplete="off" required>
                </p>
                <audio src="static/uploads/test_1.mp3" controls></audio>
                <p>
                    <input type="submit" value="Submit">
                </p>
            </form>
        </div>
    </div>
</body>
</html>